asgiref==3.8.1
Flask==3.0.3
Flask-Cors==5.0.0
grpc-interceptor==0.15.4
grpcio==1.64.0
grpcio-testing==1.64.0
grpcio-tools==1.64.0
jwt==1.3.1
mod_wsgi==5.0.0
mysqlclient==2.1.1
mysql-connector-python==9.0.0
nest-asyncio==1.6.0
peewee==3.17.5
phonenumbers==8.13.45
pycryptodome==3.20.0
pytest==8.3.3
requests==2.32.3
smswithoutborders_libsig @ git+https://github.com/smswithoutborders/lib_signal_double_ratchet_python.git@staging#egg=smswithoutborders_libsig
SwobThirdPartyPlatforms @ git+https://github.com/smswithoutborders/SMSWithoutBorders-Customized-Third-Party-Platforms.git@main#egg=SwobThirdPartyPlatforms
tqdm==4.66.4
twilio==9.3.1
Werkzeug==3.0.4
